.chart rect {
  stroke: white;
  fill: steelblue;
}
.x.label {
  font-weight: bold;
  font-size: 1.8em;
}
.y.label {
  font-weight: bold;
}
svg {
  font: 10px sans-serif;
}

path {
  fill: #3B5998;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
  z-index: 100;
}

.electric {
  fill: rgba(59,89,152,1);
}
.gas {
  fill: rgba(0,255,0,.5);
}
